@media (max-width: 375px) {

#wrapper {
  justify-content: flex-start;
  align-items: flex-start;
}

#container {
  flex-direction: column;
  width: 375px;
  margin: 1rem;
}

#image-product-desktop {
  display: none;
}

}