h1 {
  margin: 1.3rem 0 1.3rem;
  font-family: var(--serif);
  font-size: 2rem;
  line-height: 1;
  color: var(--verydarkblue);
}

p {
  margin: 0;
  font-family: var(--sans-serif);
  color: var(--darkgrayishblue);
}

#perfume {
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .35rem;
}

#description {
  line-height: 1.6;
  margin-bottom: 1.4rem;

}

#price {
  font-family: var(--serif);
  font-size: 2rem;
  color: var(--darkcyan);
}

#price::after {
  content: "$169.99";
  font-family: var(--sans-serif);
  color: var(--darkgrayishblue);
  font-size: .85rem;
  text-decoration: line-through;
  position: relative;
  left: 1.3rem;
  bottom: .4rem;
}


.attribution { 
  font-family: var(--sans-serif);
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}